*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
#main{
    width: 1400px;
    margin: 0 auto;
    padding: 0 325px;
}
.main-h1{
    text-align: center;
}
.events{
    margin: 0 auto;
    margin-bottom: 10px;
}